@import "../../../color/colors.scss";

.main {
    width: 70%;
    margin: 0 auto;
    padding: 0 10px;
    box-sizing: border-box;

    @media (min-width: 1200px) and (max-width: 1599px) {
        width: 80%;
    }

    @media (max-width: 1200px) and (min-width: 769px) {
        width: 80%;
    }

    @media (max-width: 768px) and (min-width: 577px) {
        width: 95%;
    }

    @media (max-width: 576px) {
        width: 100%;
    }
}

.news-detail {
    display: grid;
    grid-template-columns: 3fr 1fr;
    gap: 15px;
}

.news-left {
    background: #FFF;
    padding: 0 50px 30px 50px;
}

.news-right {
    background: #FFF;
    padding: 0 20px 20px 20px;
}

.news-right {
    position: sticky;
    top: 70px;
    height: fit-content;
    max-height: calc(100vh - 40px);
}

.news-image {
    img {
        max-width: 100%;
        object-fit: cover;
    }
}

.news-title {
    margin: 12px 0;
    font-size: 32px;
    font-weight: 600;
    color: $main-green-color;
}

.news-related-title {
    padding: 12px 12px 0 12px;
    font-size: 16px;
    font-weight: 600;
}

.news-excerpt {
    font-size: 16px;
}

.news-related {
    .news-related-item {
        background: #ffffff;
        border-radius: 8px;
        padding: 12px;
        margin-bottom: 10px;
        // box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
        transition: all 0.3s ease;
        cursor: pointer;
        
        &:hover {
            transform: translateY(-2px);
            box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15);
        }
        
        img {
            width: 100%;
            max-height: 165px;
            object-fit: cover;
            border-radius: 6px;
            // margin-bottom: 8px;
        }
        
        &-title {
            font-size: 16px;
            font-weight: 600;
            color: #333;
            margin: 0;
            line-height: 1.4;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            overflow: hidden;
            text-overflow: ellipsis;
        }
    }
}

html {
    scroll-behavior: smooth;
}

.news-content {
    h2 {
        color: $main-green-color;
    }
}

.toc {
    background: #e5f2ec;
    margin: 30px 0;
    padding: 20px 10px;
    &-title {
        display: block;
        margin-bottom: 8px;
        margin-left: 10px;
        font-weight: bold;
        color: #00838f;
        background-color: #e5f2ec;
        width: 100%;
        font-size: 16px;
        line-height: 155%;
    }
    &-list {
        list-style: none;
        padding-left: 10px;
        margin: 0;
        
        .h2 {
            padding-left: 0;
        }
        
        .h3 {
            padding-left: 20px;
        }
        
        a {
            text-decoration: none;
            color: inherit;
            line-height: 1.5;

            color: #00838f !important;
            font-weight: 600;
            &:link, &:visited, &:hover, &:active {
                color: inherit;
                text-decoration: none;
            }
        }
    }
}

