.wrapper {
    background: #F5F5F7;
}

.main {
    width: 65%;
    margin: 0 auto;
}

.category {
    margin: 60px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    &_item {
        background: #FFFFFF;
        margin: 0 10px;
        border-radius: 20px;
        height: 220px;
        &:hover {
            box-shadow: -4px -4px 8px rgb(134,134,134,0.2), 4px 4px 8px rgb(28,28,28,0.4);
            transition: .1s ease-in-out;
        }
        .item_img {
            height: 165px;
            display: flex;
            justify-content: center;
            align-items: flex-end;
        }
        .item_name {
            text-align: center;
        }
        img {
            height: 120px;
        }
    }
}
.product_wrapper {
    padding: 0 10px;
    margin: 80px -10px 0;
    >div {
        padding: 0 10px;
        margin: 0 -10px;
    }
}
