@import '../../color/colors.scss';

.product1 {
    width: 65%;
    margin: 0 auto;
}
.product {
    &_up {
        display: flex;
        padding-top: 40px;
        min-height: 700px;
    }
    &_image {
        background: #FFFFFF;
        width: 100%;
        position: absolute;
        border-radius: 8px;
    }
    &_left {
        width: 50%;
    }
    &_left2 {
        position: relative;
        //////////////////////
        height: 624px;
        width: 100%;
    }
    &_right {
        width: 50%;
        padding-left: 20px;
    }
    &_rating {
        display: flex;
    }
    &_action {
        display: flex;
    }
    &_name {
        font-weight: 700;
        font-size: 32px;
        line-height: 1.2;
        padding-bottom: 30px;
    }
    &_action {
        display: flex;
        .cart {
            width: 50%;
            margin-right: 10px;
        }
        .bag {
            width: 50%;
            margin-left: 10px;
        }
    }
}

.sale {
    &_price {
        font-size: 26px;
        font-weight: bold;
        margin-right: 10px;
    }
    &_percent {
        font-size: 17px;
        position: absolute;
        right: 20px;
        top: 30px;
        color: #FFFFFF;
        font-size: 25px;
    }
}


.price {
    font-size: 17px;
    opacity: 0.5;
    text-decoration: line-through;
}

.sale_logo {
    height: 100px;
    width: 100px;
    position: absolute;
    right: 0;
}

.status {
    margin: 20px 0;
    color: red;
}

.product2 {
    background: #FFFFFF;
}

.product_down {
    width: 65%;
    margin: 0 auto;
}

.list_image {
    margin-top: 10px;
    img {
        cursor: pointer;
        border-radius: 8px;
        background: #FFFFFF;
        height: 79px;
        // width: 50px;
        width: 100%;
        object-fit: contain;
    }
}

.cart .p-button {
    background-color: $main-green-color;
    border-color: $main-green-color;
    transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.cart .p-button:hover {
    background-color: #218838;
    border-color: #1e7e34;
}

.bag {
    .p-button {
        border-color: $main-green-color;
        background: transparent;
        transition: background-color 0.3s, color 0.3s, border-color 0.3s;
        &:hover {
            background-color: #218838;
            border-color: #1e7e34;
            .p-button-label {
                color: #FFFFFF;
            }
            .p-button-icon {
                color: #FFFFFF;
            }
        }
    }
    .p-button-label {
        color: $main-green-color;
    }
    .p-button-icon {
        color: $main-green-color;
    }
}