.header {
    background: #000000;
    width: 100%;
    z-index: 1000;
    transition: all 0.3s ease;  // Add transition for smooth effect

    &_fixed {
        position: fixed;
        top: 0;
        left: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);  // Optional: add shadow to distinguish fixed header
    }
    &_main {
        width: 60%;
        height: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
    &_left {
        width: 10%;
        .logo {
            height: 60px;
            width: 100%;
            object-fit: cover;
        }
    }
    &_center {
        // padding-bottom: 10px;
        width: 80%;
        ul {
            margin: 0;
            display: flex;
        }
        li {
            display: flex;
            justify-content: center;
            align-items: center;
            color: #FFFFFF;
            width: calc(100% / 6);
            height: 60px;
            cursor: pointer;
            &:hover {
                background: #2d2d2d;
                transition: .15s ease-in-out;
            }
            a {
                display: flex;
                height: 100%;
                text-decoration: none;
                color: #FFFFFF;
                align-items: center;
            }
        }
    }
    &_right {
        width: 10%;
        height: 60px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        .item {
            height: 38px;
            width: 38px;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: #2f3033;
            &:hover {
                background: #5e5e60;
            }
        }
    }
    &_mobile {
        display: none;
    }
}

@media (max-width: 768px)  {
    .header {
        &_center {
            display: none;
        }
        &_right {
            display: none;
        }
        &_mobile {
            height: 50px;
            display: block;
            background: #FFFFFF;
            display: flex;
            align-items: center;
            justify-content: space-around;
            a {
                text-decoration: none;
                color: #000000;
            }
        }
        &_left {
            width: 50%;
        }
    }
}