.swiper-initialized {
    padding: 0 10px;
    margin: 0 -10px;
}

.p-breadcrumb {
    background: none;
    border: none;
    padding-left: 0;
    border-radius: 0;
}

.p-overlaypanel-content {
    padding: 10px 0;
}

.p-button {
    width: 100%;
}

.bag {
    .p-button {
        background: transparent !important;
        border: 1px solid #06b6d4 !important;
        color: #06b6d4 !important;
    }
}

.p-tabview-nav {
    justify-content: center;
}