@import '../../color/colors.scss';
.main {
    width: 65%;
    margin: 0 auto;
}

.category {
    &_wrapper {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 40px;
    }
}

.filter {
    margin-top: 20px;
    display: flex;
    flex-flow: row wrap;
    &_item {
        cursor: pointer;
        color: #AFB7BD;
        margin-right: 30px;
        border-bottom: 1px solid transparent;
        padding: 10px 1px;
        &:hover {
            color: #000000;
            border-bottom: 1px solid #000000;
            transition: .15s;
        }
    }
    :first-child {
        margin-left: 0;
    }
    .active {
        color: #000000;
        border-bottom: 1px solid #000000;
    }
}

.sort {
    margin: 10px 0 20px 0;
    cursor: pointer;
    text-align: right;
    &_option {
        cursor: pointer;
        padding: 7px 45px 7px 15px;
        &:hover {
            background: #AFB7BD;
        }
    }
    &_active {
        color: blue;
    }
}